@import url("resetCss.css");

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}


.infoCard{
    position : absolute;
    margin-top : 8px;
    width: auto;
    height: 10px;
    display: block;
    transition: all 0.1s ease-in;
    line-height: 3em;
    /*    border-style: solid;
        left: -30px;
        border-width: 5px;*/
}

.segmentWrapper {
    height: 80px;
    position: relative;
    margin-right: 3px;
    margin-bottom: 20px;
    margin-top: 3px;
    display: flex;
}

.btnDeleteCard{
    color: white;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    top: -5px;
    margin: 0px 2px 1px 4px;
    padding: 2px 0px 0px 1px;
    border: 0.5px solid  var(--border-color);
    font-family: "Arial", Times, serif;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    font-size: x-small;
}

.btnCancelSegmentRight{
    cursor: inherit;
    border: 0.5px solid var(--border-color);
    font-family: "Arial", Times, serif;
    height: 22px;
    width: 22px;
    top: 2px;
    border-radius: 50%;
    font-size: large;
    left: 8px;
    position: relative;
}


.btnCancelSegmentLeft{
    cursor: inherit;
    border: 0.5px solid var(--border-color);
    font-family: "Arial", Times, serif;
    height: 22px;
    width: 22px;
    top: 2px;
    border-radius: 50%;
    font-size: large;
    position: absolute;
    right: 8px;
}

.btnMinusCard{
    color: white;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    top:-4px;
    margin: 0px 2px 0px 10px;
    padding: 0px 2px 2px 2px;
    border: 0.5px solid  var(--border-color);
    font-family: "Arial", Times, serif;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    font-size: small;
}

.segment{
    /*position: absolute;*/
    position: relative;

    height: 15px;
   /*border-radius: 10px;*/
    background-color: var(--fourth-color);
    z-index: 1;
    left: 0px;
    top:0px;
    margin-top: -3px;

    border-color: var(--text-color);
    border-width: 0.1px;
    border: solid var(--main-color);
}

.divWrapperBtn{
    z-index: 11;
    height: 10px;
}


.drag {
    position: relative;
}


.cardBoard{
    /*
    margin-top: 2%;
    */
    position: relative;
    left: 90px;
    width: 777px;
    height: 80ch;
}


.textSegment {
    margin-bottom: 6px;
    background: transparent;
    border: 1px;
    border-color: var(--border-color);
    padding: 1px 10px;

    border-radius: 10px;
    border-style: solid;
   /* position: absolute;*/
    width: 150px;
    font-weight: bold;
    margin-left: 7px;
    color: #ffffff;
    white-space: normal;
    z-index: 1;
    top: 0px;
    /*overflow-y: scroll;*/
}

.divWrapperTextStartSegment{
    margin-top: -4px;
}

.textStartSegment {    /* margin-bottom: 6px; */
    border: 1px;
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 10px;
    margin-top: 3px;
    display: block;
    background: transparent;
    padding: 0px 3px;
    font-weight: bold;
    color: white;
    white-space: normal;
    height: 10px;
    z-index: 11;
    width: 20px;
    font: 0.5em "Arial", sans-serif;
    margin-left: -5%;
    position: absolute;

}

.imgSlow{
    content:url('../media/workshop2/card/slow.png');
    width: 20px;
    height: 20px;
    margin-top: 15px;
    vertical-align: top;
}


.imgRepet{
    width: 15px;
    height: 15px;
}

.selectSpeed, .selectNbRepet {
    margin: 10px;
    padding-left: 9px;
    color: white;
    background: var(--main-color);
    border-color: var(--border-color);;

}

.cardBoard {
    /* overflow-y: auto;
     overflow-x: hidden;*/
     /*overflow: hidden;*/
    overflow-y: auto;
    overflow-x: hidden;

    /*background-color: #c7074d;*/

}
.demo {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 7px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 7px 5px 15px 5px rgba(0,0,0,0);
}

/*Button card triangle*/


.container {
    width: 100%;
    text-align: center;

}

.circle {
    stroke: white;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 0.3;
}

.playAllBut {
    /*  border: 1px solid red;*/
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    margin-bottom: 50px;
    cursor: pointer;
}

.playAllBut .triangle {
    -webkit-transition: all 0.7s ease-in-out;
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: var(--secondary-color);
    transform: translateY(0);
}

.playAllBut:hover .triangle {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: var( --fourth-color);
    animation: nudge 0.7s ease-in-out;
}

@keyframes nudge {
    0% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    70% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0);
    }
}
.playBut:hover .circle {
    stroke-dashoffset: 0;
    opacity: 1;
}
