@import url("resetCss.css");

:root {
    --main-color: #033649;
    --text-color: #E8DDCB;
    --secondary-color: white;
    --third-color: #031634;
    --fourth-color:#bbc;
    --third-color-transparent:  rgba(3, 22, 52, 0.5);
    --text-color-transparent:  rgba(232, 221, 203, 0.5);
    --black-color-transparent:  rgba(0, 0, 0, 0.7);
    --sucess-color: #036564;
}
body {
    font: 14px "../fonts/Optima.ttc", Helvetica, Arial, sans-serif;
    -webkit-touch-callout: none !important;

    /*
    overflow-x: initial !important;
    overflow-y: hidden;
    height:100%;
    */
    text-align:center;
    background-size:cover;
    background-repeat:no-repeat;
}

a {
  -webkit-user-select: none !important;
}

p {
  font-weight:bold;
  line-height:2em;
  font-family: "../fonts/Optima.ttc";
    color: var(--secondary-color);
}

h1,h2,h3,h4,h5{
  font-family: "../fonts/Optima.ttc";
  margin:0px;
  padding:0px;
  border:0px;
  color: var(--secondary-color);
}
h1{
  font-size: 60px;
  line-height:10em;
}
h2{
  font-size: 50px;
}
h3{
  font-size: 40px;
}
h4{
  font-size: 30px;
}
h5{
  font-size: 15px;
}

html{
  width:100%;
  height:100%;
  background-color: var(--main-color);
  overflow: auto;
  margin:0px;
  padding:0px;
  border:0px;
  overflow-x: initial !important;
}



hr {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    background-color: gray;
}

/*
.vjs-tech{
    border-style: solid;
    border-width: 2px;
    border-color: white;
}*/



.pageTitle{
  font-family: "../fonts/Optima.ttc";
 /* user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;*/
  margin:0px;
  padding:0px;
  border:0px;
  color: var(--secondary-color);
  font-size: 70px;
}

.button {
  font-size: 10px;
  background-color: grey;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*font-size: 16px;*/
  margin: 20px;
  cursor: pointer;
}
.text1{
  position:absolute;
  text-align:center;
  bottom:80%;
}

.bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 15%;
  font-size: 20px;
  color: darkgrey;
  /*user-select: none;*/
}


.userName{
    font: 14px "../fonts/Optima.ttc", Helvetica, Arial, sans-serif;
    color: white;

}

body{-webkit-backface-visibility:hidden}

.note{
    position:fixed;
    top:95%;
    left:0;
    min-height:60px;
    line-height:60px;
    width:100%;
    z-index:1000;
    text-align:center;
    font-size:18px;color:#fff;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}
.note:target{
    opacity:1;
    pointer-events: auto;
}
.note .succes{
    background-color:var(--sucess-color)
}

.note a.cFerme {
    color:var(--secondary-color);
    margin:0 10px 0 10px;
    float:right;
}



/*Don't remove these line, mandatory for the tablet UI*/
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
}

*:not(input):not(textarea) {
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */

}
