.myplayer{
    overflow-y: hidden;

}

/*CSS commande pour video et range slider*/

#play-pause,#mute{
    width: 3%;
    height: 3%;
}

#play-pause,#videoSlider,#timerVideo{
    margin-right: 1%;
}

#videoSlider{
    margin-top: -20px;
}


.commandeVideo{
    margin-bottom: 2%;

}

#timerVideo {
    display: inline;
}

#videoSlider {
    position:relative;
}


.range-slider .range-slider_track {
    -webkit-appearance: none;
    height: 25px;
   /* border-radius: 10px;*/
    background: #c6c6c6;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}

#rangeSliderTrack{

    /*width: 854px;*/
   /* width: 1000px;*/
    height: 20px;
}


.range-slider .range-slider_handle {
    width: 30px;
    height: 30px;
    top: 2px;
    z-index:1;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.range-slider-wrapper{
    position:relative;
    top:10px;
    padding-top:5px;
    width: auto;
}

.range-slider{
    /*
    background: #ff0021;
    */
}

.range-slider .range-slider_handle-max {
    visibility: hidden;
    background: #8d1f3b;
    height: 33px;
    width: 3px;
    border-radius: 0%;

    position: absolute;
}

#segmentMinMax {
    background: #213F8D;
    visibility: hidden;
    width: 10px;
    transition: 0.1s ease-out;
    margin-top: -20px;
    height: 20px;
}


.range-slider_handle-min {
    visibility: visible;
    position: absolute;
    height: 30px;
    width: 30px;
}




#play-pause, #mute,#timerVideo{
    height: 30px;
    width: 30px;
}

.wrapperCommandAndRange{
   /* display: inline;*/
    height: auto;
    width: auto;
}



.commandeVideo
{
   margin-top: 2%;
}

.myplayer{
    margin-top: 2%;

}
.videoEAT{
    float: left;
}


*:not(input):not(textarea) {
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */

}
