

/*CSS commande pour video et range slider*/

#play-pause,#mute{
    width: 3%;
    height: 3%;
}

#play-pause,#videoSlider,#timerVideo{
    margin-right: 1%;
}


.commandeVideo{
    margin-bottom: 2%;

}

#timerVideo {
    display: inline;
}

#videoSlider {
    position:relative;
}


.range-slider .range-slider_track {
    -webkit-appearance: none;
    height: 25px;
    border-radius: 10px;
    background: #c6c6c6;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}

#rangeSliderTrack{
    /*width: 854px;*/
    width: 1000px;
    height: 20px;
}

.range-slider .range-slider_handle {
    width: 30px;
    height: 30px;
    top: 2px;
    z-index:1;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.range-slider-wrapper{
    position:relative;
    top:10px;
    padding:5px;
    width: auto;
}

.range-slider{
    /*
    background: #ff0021;
    */
}

.range-slider .range-slider_handle-max {
    visibility: hidden;
    background: #8d1f3b;
    height: 23px;
    width: 3px;
    top: 25px;
    position: absolute;
}

#segmentMinMax {
    background: #213F8D;
    visibility: hidden;
    width: 10px;
    transition: 0.5s ease-out;
}


.range-slider_handle-min {
    visibility: visible;
    position: absolute;
    height: 30px;
    width: 30px;
}




#play-pause, #mute,#timerVideo{
    height: 30px;
    width: 30px;
}

.wrapperCommandAndRange{
   /* display: inline;*/
}