extends layout
block content
    //script(type='text/javascript' src='/js/myo.js')
    script(src='/js/sensorScript.dist.js')
    h3= title
    blockDevices
        myoBox
            #IdMyoBoxImage.myoBox
                //- var smartphoneConnected = isConnected();
                - if (true)
                    //init();
                    img.myoImage#IdMyoImageC(src="/images/devices/myo-connected.png" alt="MyoOff")
                - else
                    img.myoImage#IdMyoImageNC(src="/images/devices/myo-notconnected.png" alt="MyoOn")


                div.input#chartContainer
                    p EMG
                    canvas#canvasEMG1.canvasBPF
                    p EMG Sliding
                    canvas#canvasEMG2.canvasBPF
                    //canvas#canvasEMG3.canvasBPF
                   // canvas#canvasEMG4.canvasBPF


                div.input
                    p Accelero
                    canvas#canvasBPFAccelero.canvasBPF
                div.input
                    p Jerkiness
                    canvas#bpfDisplayJerkiness.canvasBPF
                //canvas#canvasBarchart.canvasBPF
                div.input
                    button#buttonRecording(type='button') Start saving







        smartphoneBox
            #IdSmartphoneBox.smartphoneBox
                img.smartphoneImage#IdSmartphone1(src="/images/devices/smartphone.png" alt="Smartphone")




