extends layout
block content
    script(type='text/javascript' src='public/js/myo.js')
    script(type='text/javascript' src='public/js/smartphoneSensors.js')
    h1= title
    script.
        window.addEventListener('devicemotion', eventData);

