extends layout
block content
    //script(type='text/javascript' src='/js/myo.js')
    script(src='/js/sensorScript.dist.js')


    h3= title
    blockDevices
        myoBox
            #IdMyoBoxImage.myoBox
                //- var smartphoneConnected = isConnected();
                - if (true)
                    //init();
                    img.myoImage#IdMyoImageC(src="/images/devices/myo-connected.png" alt="MyoOff")
                - else
                    img.myoImage#IdMyoImageNC(src="/images/devices/myo-notconnected.png" alt="MyoOn")


                #chartContainer
                canvas#canvasBPFAccelero.canvasBPF
                canvas#canvasBPFGyro.canvasBPF
                canvas#canvasBarchart

        smartphoneBox
            #IdSmartphoneBox.smartphoneBox
                img.smartphoneImage#IdSmartphone1(src="/images/devices/smartphone.png" alt="Smartphone")




