extends layout
block content
    script(type='text/javascript' src='/js/myo.js')
    script(type='text/javascript' src='/js/smartphoneSensors.js')

    h3= title



    img.myoImage#IdMyoImageC(src="/images/devices/myo-connected.png" alt="MyoOff")


