extends layout

block footer
    footer
        ul
            li
                a(href="/team") Team
            li
                a(href="/privacy") Privacy
            p
                | MoveOn by Jean-Philippe Rivière
                | Granted by la diagonale de Saclay in collaboration with Ghislaine Tétier
                | &copy; 2019-2020, All Rights Reserved
