extends layout

block content
  h1= title
  p.bottom #{subtitle}

  script.
    window.addEventListener("click", screenTouched, false);
    function screenTouched() {
      //Switching to sensors.jade
      window.location.href = '/sensors'
    }
