extends layout
block content
    .myplayer#idVideo
        video(width='320', height='240', controls='')
            source(src='/media/workshop2/EAT3.webm', type='video/mp4')
            | Your browser does not support the video tag.
