extends layout
block content


    .myplayer#idVideo
        video(width='840', height='480', id="videoEAT", poster='/media/workshop2/videoCommand/poster.png')
            source(src='/media/workshop2/EAT.mp4', type='video/mp4')
            | Votre navigateur ne supporte pas la balise vidéo.


    .commandeVideo#idCommandeVideo
            img.image#play-pause(src='/media/workshop2/videoCommand/playButton.png', alt='playPause')
            p#timerVideo 0:00/3:14
            .range-slider#videoSlider
                .range-slider_handle.range-slider_handle-min#range-slider_handle-min(data-handle='min')
                .range-slider_handle.range-slider_handle-max#range-slider_handle-max(data-handle='max')
                .range-slider_track#rangeSliderTrack(min='0', max = 100)
            img.image#mute(src='/media/workshop2/videoCommand/volumeFull.png', alt='volumeFull')

        //input#volume-bar(type='range', min='0', max='1', step='0.1', value='1', orient="vertical" )
        //input#videoSlider2.slider(type='range', value='0', max="10000", step="any")



    //button(onclick='play()') Play
                button(onclick='pause()') Pause
                button(onclick='repetPartOfVideo(10,11,3)') repet
                button(onclick='defineSpeedRate()') acceleration
                button(onclick='upSpeedRate()') up sr
                button(onclick='slowSpeedRate()') down sr
                button(onclick='exportCard()') export
                 input#myRange.slider(type='range', min='0.1', max='20')

    //.cardBoard#divCardBoard(style='overflow-y:scroll; overflow-x:hidden; height:400px;')
            .draggableImage#idAddCard
            .draggable#card1
                p CardName






    script.
    link(href="stylesheets/videoControl.css" rel="stylesheet")
    script(src="src/client/js/workshop2/jquery-3.3.1.min.js")

    script(src="/src/client/js/workshop2/card.js")
    script(src="/src/client/js/workshop2/stateMachineDragAndDropSlider.js")
    script(src="/src/client/js/workshop2/cardManagement.js")
    script(src="/src/client/js/workshop2/long-press.min.js")
    script(src="/src/client/js/workshop2/videoCommand.js")
