extends layout
block content
    //disable the google analytic for video.js
    script window.HELP_IMPROVE_VIDEOJS = false;
    // The Modal
    //#modalYT.modal
        // Modal content
        .modal-content
            span.close ×
            textarea.URLchooser#yt_chooser(placeholder="Youtube URL")
            a#acceptYtVideo
    //The Modal
    #videoPickerOverview.modal
        .modal-content#videoPickerOverviewModal
            span.close.cFerme x

    #SHPickerOverview.modal
        .modal-content#SHPickerOverviewModal
            span.close.cFerme x

    #oNote4.note
        .succes
            a.cFerme.close(href='#fermer', title='Fermer la fenêtre') x
            #noteMessage  Hello!
    .containerMenu#containerMenu
        .bar1#bar1id
        .bar2#bar2id
        .bar3#bar3id
    .sidebar#sidebarMenu(style='visibility: hidden; ')
        a#btnLoadFile(href='#load_file' , style=' ')
            i.fa.fa-fw.fa-wrench
            |  Load Decomposition
        a#btnLoadSHFromServer(href='#load_file' , style=' ')
            i.fa.fa-fw.fa-wrench
            |  Load from server
        a#btnSaveSegments(href='#SaveSegments')
            i.fa.fa-fw.fa-wrench
            |  Save Decomposition
        a#btnCleanAll(href='#clean', style='visibility: ; ')
            i.fa.fa-fw.fa-wrench
            |  Clean Decomposition
        a#btnLoadAVideo(href='#loadVideo', style='visibility:; ')
            i.fa.fa-fw.fa-wrench
            |  Load a Video
        a#btnInvertVideo(href='#Invert', style='visibility:; ')
            i.fa.fa-fw.fa-wrench
            |  Invert Video
        //a#loadSHvideoTutorial(href='#loadSHvideoTutorial')
            i.fa.fa-fw.fa-wrench
            |  Load SH tuto
        //a#loadYtVideo( href='#loadYtVideo', style='visibility: hidden; ')
            i.fa.fa-fw.fa-wrench
            |  Load video
        //a#loadvideo1( href='#loadvideo1')
            i.fa.fa-fw.fa-wrench
            |  Load video1
        //a#loadSHvideo1(href='#loadSHvideo1')
            i.fa.fa-fw.fa-wrench
            |  Load SH1
        //a#loadvideo2(href='#loadvideo2')
            i.fa.fa-fw.fa-wrench
            |  Load video2
        //a#loadSHvideo2(href='#loadSHvideo2')
            i.fa.fa-fw.fa-wrench
            |  Load SH2
        //a#analyzeData(href='#AnalyzeData')
            i.fa.fa-fw.fa-wrench
            |  Analyze1
        a
            i.fa.fa-fw.fa-wrench
            |  Participant:
        textarea#idSession
        input#logFileLoad(type="file", style='visibility: hidden; ')



    //#AnalysisMenuDraggable
        #AnalysisMenuHeader Data Analysis
        .control-group
            label.control-label(for='position-analysis') Position
            .controls
                label.radio(for='position-analysis-0')
                    input#position-analysis-0(type='radio' name='position-analysis' value='Relative' checked='checked')
                    |       Relative
                label.radio(for='position-analysis-1')
                    input#position-analysis-1(type='radio' name='position-analysis' value='Absolute')
                    |       Absolute
        .control-group
            label.control-label(for='position-analysis') Transparency
        .slidecontainer
            input#transparencyRange.slider(type='range' min='0' max='1' value='0.1', step='0.01')
        .control-group
            label.control-label(for='') Speed
            .controls
                label.checkbox(for='speedcheckboxes-0-0')
                    input#speedcheckboxes-0-0(type='checkbox' name='multiplecheckboxes-0' value='Height')
                    |       Height
                label.checkbox(for='speedcheckboxes-0-1')
                    input#speedcheckboxes-0-1(type='checkbox' name='multiplecheckboxes-0' value='Color')
                    |       Color
        .control-group
            label.control-label(for='') Repetition
            .controls
                label.checkbox(for='Repetitioncheckboxes-0-0')
                    input#Repetitioncheckboxes-0-0(type='checkbox' name='multiplecheckboxes-0' value='Height')
                    |       Height
                label.checkbox(for='Repetitioncheckboxes-0-1')
                    input#Repetitioncheckboxes-0-1(type='checkbox' name='multiplecheckboxes-0' value='Color')
                    |       Color


    //.right.menu_instrument
        #menu_instrument

    //.myplayer
        .divyoutube#yt_player
    .wrapperCommandAndRange#wrapperCommandAndRangeid(style='display: inline-block;')
        .wrapperCommandAndRange.wrapperSticky
            .myplayer
                video#videoEAT(preload='none', src='/media/workshop2/frame.mp4', type='frame/mp4' , style="width: 960px;"  )
                    //source(src='/media/workshop2/frame.mp4', type='video/mp4') autobuffer = 'auto'
                    | Votre navigateur ne supporte pas la balise vidéo.
            .range-slider#videoSlider
                .range-slider-wrapper#range-slider-wrapper
                    .range-slider_handle.range-slider_handle-min#range-slider_handle-min(data-handle='min')
                    .range-slider_handle.range-slider_handle-max#range-slider_handle-max(data-handle='max')
                    .range-slider_track#rangeSliderTrack
                    .range-slider_track#segmentMinMax
                .commandeVideo#idCommandeVideo
                    img.imageVideoControl#play-pause(src='/media/workshop2/videoCommand/playButton.png', alt='playPause', style='width:40px; height:40px')
                    p#timerVideo 0:00/x:xx
                    img.imageVideoControl#mute(src='/media/workshop2/videoCommand/volumeFull.png', alt='volumeFull', style='width:40px; height:40px')
            video.video-js#videovjscontrol(controls='none', preload='none', style="width: 960px;",  data-setup='{}', src='/media/workshop2/frame.mp4', type='video/mp4' )
                p.vjs-no-js
                    | To view this video please enable JavaScript, and consider upgrading to a web browser that
                    a(href='https://videojs.com/html5-video-support/', target='_blank') supports HTML5 video


        .wrapperCommandAndRange#wrapperCommandAndRangeCardBoard(style='')
            .cardBoard#divCardBoard
        //img.imageVideoControl#playSegmentHistory(src='/media/workshop2/videoCommand/playButton.png', alt='playPause', style='width:40px; height:40px; margin-top : 75px')







    //button(onclick='play()') Play
                button(onclick='pause()') Pause
                button(onclick='repetPartOfVideo(10,11,3)') repet
                button(onclick='defineSpeedRate()') acceleration
                button(onclick='upSpeedRate()') up sr
                button(onclick='slowSpeedRate()') down sr
                button(onclick='exportCard()') export
                 input#myRange.slider(type='range', min='0.1', max='20')
    //.div
        input.btn#btnSaveLog(type='button', value='Save log')
        //input.btn#btnLoadLog(type='button', value='Load log')
        //h5#textSaveLog



    //script(src="/src/client/js/workshop2/technologyProbe/utilities/require.js")

    script.


    link(href="stylesheets/videoControl.css" rel="stylesheet")
    link(href="stylesheets/card.css" rel="stylesheet")
    link(href="stylesheets/menu.css" rel="stylesheet")
    link(href="stylesheets/menu_instrument.css" rel="stylesheet")

    //test for json reader from client to serveur
    script(type="text/javascript" src="/src/client/js/workshop2/technologyProbe/menu/manage_segment_history.js")

    //video.js API
    script(src="src/client/js/workshop2/technologyProbe/utilities/video-js-7.5.4/video.js")

    //To create socket, used to log command
    script(src="/src/client/js/workshop2/technologyProbe/utilities/socket.io.js")
    //JQuery
    script(src="/src/client/js/workshop2/technologyProbe/utilities/jquery.js")
    script(src="/src/client/js/workshop2/technologyProbe/utilities/jquery2.2.4.js")
    script(src="/src/client/js/workshop2/technologyProbe/utilities/jqueryUI.js")
    script(src="/src/client/js/workshop2/technologyProbe/utilities/anime.js")
    //script(src="src/client/js/workshop2/technologyProbe/instruments/menuInstrument.js")

    //script(src="/src/client/js/workshop2/technologyProbe/utilities/jscolor.js")
    //script(src="/src/client/js/workshop2/technologyProbe/utilities/rainbow.js")


    //script(src="/socket.io/socket.io.js")
    //script(src="./src/client/js/workshop2/technologyProbe/utilities/socket.io.js")


    //This script is usefull to log what happend during a session. Every command used are logged
    //and saved on the server side
    script(src="/src/client/js/workshop2/technologyProbe/application_logger/logger.js")

    //The manager of every card, get a trace of which card have been created and when. This is my segment history
    script(src="/src/client/js/workshop2/technologyProbe/card_manager/cardManager.js")

    //This script is and utility script with usefull function such as createuniqueId or timestap
    script(src="/src/client/js/workshop2/technologyProbe/utilities/utilities.js")

    //The manager of every card, get a trace of which card have been created and when. This is my segment history
    script(src="/src/client/js/workshop2/technologyProbe/card_manager/command/CommandCardManager.js")
    script(src="/src/client/js/workshop2/technologyProbe/card_manager/command/AbstractManageCardCommand.js")

    //StateMachine to handle the drag and drop in order to create a new card
    script(src="/src/client/js/workshop2/technologyProbe/card/segment/stateMachineCreateSegment.js")
    //the long press lib used to handle long-press event, see : https://github.com/john-doherty/long-press
    script(src="/src/client/js/workshop2/technologyProbe/utilities/long-press.min.js")
    // Functional core of action made on video (play, pause, etc). This class handle  commands

    //script to import a youtube video
    //script(src="/src/client/js/workshop2/technologyProbe/video/functionalCore/yt_import/youtube_wrapper.js")
    script(src="/src/client/js/workshop2/technologyProbe/video/functionalCore/mp4/videoFunctionalCore.js")
    script(src="/src/client/js/workshop2/technologyProbe/video/command/AbstractVideoControllerCommand.js")
    script(src="/src/client/js/workshop2/technologyProbe/video/command/CommandVideoController.js")



    //The controller of the video, send command to the functionalCOre
    script(src="/src/client/js/workshop2/technologyProbe/video/controller/videoController.js")
        //The video picker
    script(src="/src/client/js/workshop2/technologyProbe/video/video_picker/video_picker.js")
    //The class Card (Gui and controller).
    script(src="/src/client/js/workshop2/technologyProbe/card/CardFunctionalCore.js")
    script(src="/src/client/js/workshop2/technologyProbe/card/card.js")
    script(src="/src/client/js/workshop2/technologyProbe/card/command/AbstractCardCommand.js")
    script(src="/src/client/js/workshop2/technologyProbe/card/command/CommandCard.js")

        //interface to control both MP4 and youtube video the same way
    script(src="/src/client/js/workshop2/technologyProbe/video/functionalCore/interfaceVideo.js")
    //The class that handle the menu option
    script(src="/src/client/js/workshop2/technologyProbe/menu/menu.js")

    //Toolbar for instruments
    // script(src="/src/client/js/workshop2/technologyProbe/instruments/reverso.js")
     //Testing
     //script(src="/src/client/test/test.js")
     //Function to analyse data
     script(src = "/src/client/js/dataAnalysis/dataAnalysisUtilities.js")








    //script(src="/src/client/js/workshop2/technologyProbe/card/controller/controllerCard.js")

